.container{
    display: grid;
    grid-template-columns: 40% 40% 40%;
    /* grid-column-gap: 1px; */
}
.container > div{
    background: rgba(64, 66, 66, 0.377);
    padding: 1em;
}
.container > div:nth-child(odd){
    background: #ddd;
}
.image-size{
    width: 600px;
    height: 400px;
}
.image-size2{
    width: 600px;
    height: 400px;
}